.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.centered-div {
    margin-top: 10%;
    font-family: 'Courier New', Courier, monospace;
}

.ButtonBar{
    margin-top: 5%;
}

.ButtonStyle {
    margin-left: 12px;
    width: 125px;
    height: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}